@charset "utf-8";
/* CSS Document */

body{
	background: #F9F9F9;
	text-align: center;
	color: #1D1D1D;
}

a{
	cursor: auto;
	color: #FFBF21;
	background: #F1F1F1;
	border-radius: 70px;
	padding: 20px 40px 20px 40px;
	transition: .4s;
}

a:hover{
	border-radius: 38px;
	background: #F6F6F6;
	cursor: pointer;
	color: #FFD878;
}

.link-container{
	font-size: 60px;
	font-family: Latha;
}

.link-content{
	margin: 100px 0px 100px 0px;
}
